<h2>{
    justify-content: center;
}

div{
    height: 260px;
    width: 400px;
    /* border-width: 5px;
    border-style: solid;
    border-color: red;*/
    border: 3px solid rgb(16, 17, 17);
    background-image: url("pika_img.jpg");
    background-size: cover;
}