<h2>{
    justify-content: center;
}

div{
    height: 260px;
    width: 400px;
}
body {
  margin: 0;
  min-height: 100vh;
  background-image: url("pika_img.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: Arial, sans-serif;
}

.rounded-input {
  border-radius: 6px;   
  padding: 4px 5px;
  border: 1px solid #ccc;
  outline: none;
  opacity: 0.5;
}
.rounded-input1 {
    border-radius: 6px;
    padding: 4px 5px;
    border: 1px solid #ccc;
    outline:none;
    opacity: 0.5;
}
.rounded-input2 {
    border-radius: 6px;
    padding: 4px 5px;
    border: 1px solid #ccc;
    outline:none;
    opacity: 0.5;
}

