*{
    padding: 0%;
    margin: 0%;
    color: white;
}

#navbar {
    height :60px;
    background-color: black;
}

button{
    background-color: goldenrod;
}

#logo {
   color: goldenrod;
   font-size: 25px;
}

a{
    margin-right: 200px;
}