        
.thumbnail {
  width: 450px;
  display: block;
}

.video-title{
  margin-top: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 12px;
}

.video-preview{
  width: 170px;
  vertical-align: top;
  font-size: smaller;
  margin-right: 40px;
  display: inline-block;
}

.video-info-grid{
  display: grid;
  grid-template-columns: 50px 1fr;
}


.channel-picture {
  background-color: white;
}

.video-info {
  display: inline-block;
  width: 500px;
  background-color: white;
}

.profile-picture {
  width: 40px;
  border-radius: 50px;
 }

.thumbnail-row {
  margin-bottom: 12px;
  position: relative;
}

.video-author,
.video-stats{
  font-size: 13px;
  color: rgb(96, 96, 96);
}

.video-author {
  margin-bottom: 3px;
}

.video-grid{
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 column-gap: 10px;
 row-gap: 15px;
}

.video-time{
  font-family: Roboto, Arial;
  font-size: 12px;
  font-weight: 500;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: black;
  color: white;
  position: absolute;
  bottom: 8px;
  right: 5px
}     